-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: canchapp
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Temporary view structure for view `availableschedules`
--

DROP TABLE IF EXISTS `availableschedules`;
/*!50001 DROP VIEW IF EXISTS `availableschedules`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `availableschedules` AS SELECT 
 1 AS `field_id`,
 1 AS `field_name`,
 1 AS `day_of_week`,
 1 AS `day_name`,
 1 AS `start_time`,
 1 AS `end_time`,
 1 AS `is_available`,
 1 AS `field_hour_price`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `bank_accounts`
--

DROP TABLE IF EXISTS `bank_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bank_accounts` (
  `b_account_id` int NOT NULL AUTO_INCREMENT,
  `company_id` int DEFAULT NULL,
  `b_account_bank` enum('Banco de Loja','CoopMego','Banco Pichincha','Banco Guayaquil','Cacpe Loja') NOT NULL,
  `b_account_number` varchar(50) NOT NULL,
  `b_account_ci` int NOT NULL,
  `b_account_type` enum('Ahorros','Corriente') NOT NULL,
  `b_account_owner` varchar(255) NOT NULL,
  `b_account_delete` tinyint(1) NOT NULL DEFAULT (false),
  `account_type` enum('admin_collection','owner_payout') DEFAULT 'owner_payout',
  `is_active` tinyint(1) DEFAULT '1',
  `created_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `created_by` int DEFAULT NULL,
  PRIMARY KEY (`b_account_id`),
  UNIQUE KEY `b_account_id` (`b_account_id`),
  UNIQUE KEY `b_account_number` (`b_account_number`),
  UNIQUE KEY `b_account_number_2` (`b_account_number`),
  KEY `company_id` (`company_id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `bank_accounts_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `companies` (`company_id`) ON DELETE CASCADE,
  CONSTRAINT `bank_accounts_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bank_accounts`
--

LOCK TABLES `bank_accounts` WRITE;
/*!40000 ALTER TABLE `bank_accounts` DISABLE KEYS */;
INSERT INTO `bank_accounts` VALUES (1,1,'Banco Pichincha','2205651555',1105611111,'Ahorros','Pedro Infante',0,'owner_payout',1,'2025-08-15 05:11:41',NULL),(2,1,'Banco de Loja','290485555',1109887745,'Ahorros','Pedro Infante',0,'owner_payout',1,'2025-08-15 17:16:41',NULL);
/*!40000 ALTER TABLE `bank_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calendars`
--

DROP TABLE IF EXISTS `calendars`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calendars` (
  `calendar_id` int NOT NULL AUTO_INCREMENT,
  `field_id` int NOT NULL,
  `cash_closing_id` int DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  `calendar_date` date NOT NULL,
  `calendar_init_time` time NOT NULL,
  `calendar_end_time` time NOT NULL,
  `calendar_state` enum('Disponible','Reservada','No Disponible','Por Confirmar','Confirmada','Completada','Cancelada','Pendiente','Aprobada','Rechazada') NOT NULL DEFAULT 'Disponible',
  `calendar_payment` enum('Pendiente','Cerrado') DEFAULT NULL,
  `calendar_transaccion` varchar(255) DEFAULT NULL,
  `calendar_is_recurring` tinyint(1) DEFAULT '0',
  `calendar_recurring_type` enum('semanal','mensual') DEFAULT NULL,
  `calendar_recurring_end_date` date DEFAULT NULL,
  `calendar_created_by_owner` tinyint(1) DEFAULT '0',
  `calendar_is_presential` tinyint(1) DEFAULT '0',
  `calendar_parent_id` int DEFAULT NULL,
  `calendar_payment_amount` decimal(10,2) DEFAULT NULL,
  `calendar_payment_status` enum('pendiente','aprobado','rechazado') DEFAULT 'pendiente',
  `calendar_payment_receipt` varchar(500) DEFAULT NULL,
  `calendar_payment_receipt_date` datetime DEFAULT NULL,
  `calendar_approved_by` int DEFAULT NULL,
  `calendar_approved_date` datetime DEFAULT NULL,
  `calendar_rejection_reason` text,
  PRIMARY KEY (`calendar_id`),
  UNIQUE KEY `calendar_id` (`calendar_id`),
  UNIQUE KEY `field_id` (`field_id`,`calendar_date`,`calendar_init_time`),
  UNIQUE KEY `calendar_transaccion` (`calendar_transaccion`),
  KEY `idx_calendar_field_id` (`field_id`),
  KEY `idx_calendar_user_id` (`user_id`),
  KEY `idx_calendar_cash_closing_id` (`cash_closing_id`),
  KEY `idx_calendar_date` (`calendar_date`),
  KEY `idx_calendar_state` (`calendar_state`),
  KEY `idx_recurring` (`calendar_is_recurring`,`calendar_recurring_type`),
  KEY `idx_parent` (`calendar_parent_id`),
  KEY `idx_payment_status` (`calendar_payment_status`),
  KEY `idx_approved_by` (`calendar_approved_by`),
  CONSTRAINT `calendars_ibfk_1` FOREIGN KEY (`field_id`) REFERENCES `fields` (`field_id`) ON DELETE CASCADE,
  CONSTRAINT `calendars_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `calendars_ibfk_3` FOREIGN KEY (`cash_closing_id`) REFERENCES `cash_closings` (`cash_closing_id`) ON DELETE CASCADE,
  CONSTRAINT `calendars_ibfk_4` FOREIGN KEY (`calendar_parent_id`) REFERENCES `calendars` (`calendar_id`) ON DELETE CASCADE,
  CONSTRAINT `calendars_ibfk_5` FOREIGN KEY (`calendar_approved_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calendars`
--

LOCK TABLES `calendars` WRITE;
/*!40000 ALTER TABLE `calendars` DISABLE KEYS */;
/*!40000 ALTER TABLE `calendars` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash_closings`
--

DROP TABLE IF EXISTS `cash_closings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cash_closings` (
  `cash_closing_id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `cash_closing_calendar_list` varchar(255) DEFAULT NULL,
  `cash_closing_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `cash_closing_total` int NOT NULL DEFAULT '0',
  `cash_closing_state` enum('Sin Procesar','Pendiente','Cerrado','Pagado') NOT NULL DEFAULT 'Sin Procesar',
  PRIMARY KEY (`cash_closing_id`),
  UNIQUE KEY `cash_closing_id` (`cash_closing_id`),
  KEY `company_id` (`company_id`),
  CONSTRAINT `cash_closings_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `companies` (`company_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash_closings`
--

LOCK TABLES `cash_closings` WRITE;
/*!40000 ALTER TABLE `cash_closings` DISABLE KEYS */;
/*!40000 ALTER TABLE `cash_closings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cities`
--

DROP TABLE IF EXISTS `cities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cities` (
  `city_id` int NOT NULL AUTO_INCREMENT,
  `city_name` varchar(100) NOT NULL,
  PRIMARY KEY (`city_id`),
  UNIQUE KEY `city_name` (`city_name`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cities`
--

LOCK TABLES `cities` WRITE;
/*!40000 ALTER TABLE `cities` DISABLE KEYS */;
INSERT INTO `cities` VALUES (10,'Ambato'),(2,'Catamayo'),(6,'Cuenca'),(14,'Esmeraldas'),(8,'Guayaquil'),(15,'Ibarra'),(17,'Latacunga'),(1,'Loja'),(9,'Machala'),(3,'Malacatos'),(12,'Manta'),(13,'Portoviejo'),(7,'Quito'),(11,'Riobamba'),(16,'Tulc├ín'),(4,'Vilcabamba'),(5,'Zamora');
/*!40000 ALTER TABLE `cities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coments`
--

DROP TABLE IF EXISTS `coments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coments` (
  `coment_id` int NOT NULL AUTO_INCREMENT,
  `field_id` int NOT NULL,
  `user_id` int NOT NULL,
  `coment_text` varchar(255) DEFAULT NULL,
  `coment_likes` int NOT NULL DEFAULT (0),
  UNIQUE KEY `coment_id` (`coment_id`),
  KEY `field_id` (`field_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `coments_ibfk_1` FOREIGN KEY (`field_id`) REFERENCES `fields` (`field_id`) ON DELETE CASCADE,
  CONSTRAINT `coments_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coments`
--

LOCK TABLES `coments` WRITE;
/*!40000 ALTER TABLE `coments` DISABLE KEYS */;
/*!40000 ALTER TABLE `coments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `companies`
--

DROP TABLE IF EXISTS `companies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `companies` (
  `company_id` int NOT NULL AUTO_INCREMENT,
  `company_user_id` int NOT NULL,
  `company_name` varchar(255) NOT NULL,
  `company_city_id` int NOT NULL,
  `company_phone` varchar(20) NOT NULL,
  `company_email` varchar(255) NOT NULL,
  `company_register_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `company_location` varchar(255) NOT NULL,
  `company_description` text,
  `company_services` varchar(255) DEFAULT NULL,
  `company_state` tinyint(1) DEFAULT '1',
  `company_logo` varchar(255) DEFAULT NULL,
  `company_delete` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`company_id`),
  UNIQUE KEY `company_email` (`company_email`),
  KEY `company_user_id` (`company_user_id`),
  KEY `company_city_id` (`company_city_id`),
  CONSTRAINT `companies_ibfk_1` FOREIGN KEY (`company_user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `companies_ibfk_2` FOREIGN KEY (`company_city_id`) REFERENCES `cities` (`city_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `companies`
--

LOCK TABLES `companies` WRITE;
/*!40000 ALTER TABLE `companies` DISABLE KEYS */;
INSERT INTO `companies` VALUES (1,1,'Calva y Calva',1,'12345','calvaycalva@gmail.com','2025-08-07 00:20:34','XQGW+7H8, Pio Jaramillo Alvarado y Heroes del cenepa, Loja 110101','Tenemos las mejores canchas a su disposici├│n','Canchas sinteticas, Snacks, Billar, Futbolin, Bebidas',1,'',0),(2,7,'Acaro y asociados',1,'09987897','acaroasociados@gmail.com','2025-08-15 21:54:25','hgyfbjkjui','hujbjb','',1,'',0);
/*!40000 ALTER TABLE `companies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `field_schedules`
--

DROP TABLE IF EXISTS `field_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `field_schedules` (
  `schedule_id` int NOT NULL AUTO_INCREMENT,
  `field_id` int NOT NULL,
  `day_of_week` tinyint NOT NULL,
  `start_time` time NOT NULL,
  `end_time` time NOT NULL,
  `is_available` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`schedule_id`),
  UNIQUE KEY `unique_field_schedule` (`field_id`,`day_of_week`,`start_time`),
  KEY `idx_field_day_time` (`field_id`,`day_of_week`,`start_time`),
  CONSTRAINT `field_schedules_ibfk_1` FOREIGN KEY (`field_id`) REFERENCES `fields` (`field_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=191 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `field_schedules`
--

LOCK TABLES `field_schedules` WRITE;
/*!40000 ALTER TABLE `field_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `field_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fields`
--

DROP TABLE IF EXISTS `fields`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fields` (
  `field_id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `field_name` varchar(255) NOT NULL,
  `field_type` enum('F├║tbol 5','futbol 6','F├║tbol 7','F├║tbol 11','Basquet 3x3','Basquet 5x5','Tenis','EcuaVoley') NOT NULL DEFAULT 'F├║tbol 5',
  `field_size` varchar(100) DEFAULT NULL,
  `field_max_capacity` int DEFAULT NULL,
  `field_hour_price` decimal(10,2) NOT NULL,
  `field_description` text NOT NULL,
  `field_img` varchar(255) DEFAULT NULL,
  `field_calification` varchar(10) DEFAULT NULL,
  `field_delete` tinyint(1) NOT NULL DEFAULT (false),
  PRIMARY KEY (`field_id`),
  UNIQUE KEY `field_id` (`field_id`),
  KEY `company_id` (`company_id`),
  CONSTRAINT `fields_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `companies` (`company_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fields`
--

LOCK TABLES `fields` WRITE;
/*!40000 ALTER TABLE `fields` DISABLE KEYS */;
/*!40000 ALTER TABLE `fields` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recurring_reservations`
--

DROP TABLE IF EXISTS `recurring_reservations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recurring_reservations` (
  `recurring_id` int NOT NULL AUTO_INCREMENT,
  `parent_calendar_id` int DEFAULT NULL,
  `field_id` int NOT NULL,
  `user_id` int DEFAULT NULL,
  `created_by_owner_id` int DEFAULT NULL,
  `recurring_type` enum('semanal','mensual') NOT NULL,
  `day_of_week` tinyint DEFAULT NULL,
  `day_of_month` tinyint DEFAULT NULL,
  `start_time` time NOT NULL,
  `end_time` time NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `payment_amount` decimal(10,2) NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `notes` text,
  `client_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`recurring_id`),
  KEY `parent_calendar_id` (`parent_calendar_id`),
  KEY `user_id` (`user_id`),
  KEY `created_by_owner_id` (`created_by_owner_id`),
  KEY `idx_field_day_time` (`field_id`,`day_of_week`,`start_time`),
  KEY `idx_active` (`is_active`),
  KEY `idx_dates` (`start_date`,`end_date`),
  CONSTRAINT `recurring_reservations_ibfk_1` FOREIGN KEY (`parent_calendar_id`) REFERENCES `calendars` (`calendar_id`) ON DELETE CASCADE,
  CONSTRAINT `recurring_reservations_ibfk_2` FOREIGN KEY (`field_id`) REFERENCES `fields` (`field_id`) ON DELETE CASCADE,
  CONSTRAINT `recurring_reservations_ibfk_3` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `recurring_reservations_ibfk_4` FOREIGN KEY (`created_by_owner_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recurring_reservations`
--

LOCK TABLES `recurring_reservations` WRITE;
/*!40000 ALTER TABLE `recurring_reservations` DISABLE KEYS */;
INSERT INTO `recurring_reservations` VALUES (13,NULL,19,NULL,1,'semanal',1,NULL,'19:00:00','20:00:00','2025-09-01',NULL,25.00,1,'2025-09-01 06:08:50',NULL,NULL);
/*!40000 ALTER TABLE `recurring_reservations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `reservationdetails`
--

DROP TABLE IF EXISTS `reservationdetails`;
/*!50001 DROP VIEW IF EXISTS `reservationdetails`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `reservationdetails` AS SELECT 
 1 AS `calendar_id`,
 1 AS `calendar_date`,
 1 AS `calendar_init_time`,
 1 AS `calendar_end_time`,
 1 AS `calendar_state`,
 1 AS `calendar_payment`,
 1 AS `calendar_transaccion`,
 1 AS `calendar_payment_amount`,
 1 AS `calendar_payment_status`,
 1 AS `calendar_payment_receipt`,
 1 AS `calendar_payment_receipt_date`,
 1 AS `calendar_approved_date`,
 1 AS `calendar_rejection_reason`,
 1 AS `field_id`,
 1 AS `field_name`,
 1 AS `field_type`,
 1 AS `field_hour_price`,
 1 AS `user_id`,
 1 AS `user_name`,
 1 AS `user_last_name`,
 1 AS `user_email`,
 1 AS `user_phone`,
 1 AS `approved_by_name`,
 1 AS `company_id`,
 1 AS `company_name`,
 1 AS `company_location`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `reservationdetailsextended`
--

DROP TABLE IF EXISTS `reservationdetailsextended`;
/*!50001 DROP VIEW IF EXISTS `reservationdetailsextended`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `reservationdetailsextended` AS SELECT 
 1 AS `calendar_id`,
 1 AS `calendar_date`,
 1 AS `calendar_init_time`,
 1 AS `calendar_end_time`,
 1 AS `calendar_state`,
 1 AS `calendar_payment`,
 1 AS `calendar_transaccion`,
 1 AS `calendar_payment_amount`,
 1 AS `calendar_payment_status`,
 1 AS `calendar_payment_receipt`,
 1 AS `calendar_payment_receipt_date`,
 1 AS `calendar_approved_date`,
 1 AS `calendar_rejection_reason`,
 1 AS `field_id`,
 1 AS `field_name`,
 1 AS `field_type`,
 1 AS `field_hour_price`,
 1 AS `user_id`,
 1 AS `user_name`,
 1 AS `user_last_name`,
 1 AS `user_email`,
 1 AS `user_phone`,
 1 AS `approved_by_name`,
 1 AS `company_id`,
 1 AS `company_name`,
 1 AS `company_location`,
 1 AS `calendar_is_recurring`,
 1 AS `calendar_recurring_type`,
 1 AS `calendar_created_by_owner`,
 1 AS `calendar_is_presential`,
 1 AS `recurring_id`,
 1 AS `recurring_is_active`,
 1 AS `recurring_notes`,
 1 AS `created_by_owner_name`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `schedules`
--

DROP TABLE IF EXISTS `schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedules` (
  `schedule_id` int NOT NULL AUTO_INCREMENT,
  `field_id` int NOT NULL,
  `schedule_mon` varchar(350) DEFAULT NULL,
  `schedule_tue` varchar(350) DEFAULT NULL,
  `schedule_wed` varchar(350) DEFAULT NULL,
  `schedule_thu` varchar(350) DEFAULT NULL,
  `schedule_fri` varchar(350) DEFAULT NULL,
  `schedule_sat` varchar(350) DEFAULT NULL,
  `schedule_sun` varchar(350) DEFAULT NULL,
  UNIQUE KEY `schedule_id` (`schedule_id`),
  KEY `field_id` (`field_id`),
  CONSTRAINT `schedules_ibfk_1` FOREIGN KEY (`field_id`) REFERENCES `fields` (`field_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedules`
--

LOCK TABLES `schedules` WRITE;
/*!40000 ALTER TABLE `schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `user_name` varchar(255) NOT NULL,
  `user_last_name` varchar(255) NOT NULL,
  `user_email` varchar(255) NOT NULL,
  `user_phone` varchar(20) NOT NULL,
  `user_hashed_password` varchar(255) NOT NULL,
  `user_register_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `user_profile_photo` varchar(255) DEFAULT NULL,
  `user_delete` tinyint(1) NOT NULL DEFAULT '0',
  `user_role` enum('jugador','dueno','admin') DEFAULT 'jugador',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `user_email` (`user_email`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `availableschedules`
--

/*!50001 DROP VIEW IF EXISTS `availableschedules`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `availableschedules` AS select `f`.`field_id` AS `field_id`,`f`.`field_name` AS `field_name`,`fs`.`day_of_week` AS `day_of_week`,(case `fs`.`day_of_week` when 0 then 'Domingo' when 1 then 'Lunes' when 2 then 'Martes' when 3 then 'Mi├®rcoles' when 4 then 'Jueves' when 5 then 'Viernes' when 6 then 'S├íbado' end) AS `day_name`,`fs`.`start_time` AS `start_time`,`fs`.`end_time` AS `end_time`,`fs`.`is_available` AS `is_available`,`f`.`field_hour_price` AS `field_hour_price` from (`fields` `f` join `field_schedules` `fs` on((`f`.`field_id` = `fs`.`field_id`))) where ((`f`.`field_delete` = false) and (`fs`.`is_available` = true)) order by `f`.`field_id`,`fs`.`day_of_week`,`fs`.`start_time` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `reservationdetails`
--

/*!50001 DROP VIEW IF EXISTS `reservationdetails`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `reservationdetails` AS select `c`.`calendar_id` AS `calendar_id`,`c`.`calendar_date` AS `calendar_date`,`c`.`calendar_init_time` AS `calendar_init_time`,`c`.`calendar_end_time` AS `calendar_end_time`,`c`.`calendar_state` AS `calendar_state`,`c`.`calendar_payment` AS `calendar_payment`,`c`.`calendar_transaccion` AS `calendar_transaccion`,`c`.`calendar_payment_amount` AS `calendar_payment_amount`,`c`.`calendar_payment_status` AS `calendar_payment_status`,`c`.`calendar_payment_receipt` AS `calendar_payment_receipt`,`c`.`calendar_payment_receipt_date` AS `calendar_payment_receipt_date`,`c`.`calendar_approved_date` AS `calendar_approved_date`,`c`.`calendar_rejection_reason` AS `calendar_rejection_reason`,`f`.`field_id` AS `field_id`,`f`.`field_name` AS `field_name`,`f`.`field_type` AS `field_type`,`f`.`field_hour_price` AS `field_hour_price`,`u`.`user_id` AS `user_id`,`u`.`user_name` AS `user_name`,`u`.`user_last_name` AS `user_last_name`,`u`.`user_email` AS `user_email`,`u`.`user_phone` AS `user_phone`,`admin`.`user_name` AS `approved_by_name`,`comp`.`company_id` AS `company_id`,`comp`.`company_name` AS `company_name`,`comp`.`company_location` AS `company_location` from ((((`calendars` `c` left join `fields` `f` on((`c`.`field_id` = `f`.`field_id`))) left join `users` `u` on((`c`.`user_id` = `u`.`user_id`))) left join `users` `admin` on((`c`.`calendar_approved_by` = `admin`.`user_id`))) left join `companies` `comp` on((`f`.`company_id` = `comp`.`company_id`))) where (`c`.`calendar_state` <> 'Disponible') */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `reservationdetailsextended`
--

/*!50001 DROP VIEW IF EXISTS `reservationdetailsextended`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `reservationdetailsextended` AS select `rd`.`calendar_id` AS `calendar_id`,`rd`.`calendar_date` AS `calendar_date`,`rd`.`calendar_init_time` AS `calendar_init_time`,`rd`.`calendar_end_time` AS `calendar_end_time`,`rd`.`calendar_state` AS `calendar_state`,`rd`.`calendar_payment` AS `calendar_payment`,`rd`.`calendar_transaccion` AS `calendar_transaccion`,`rd`.`calendar_payment_amount` AS `calendar_payment_amount`,`rd`.`calendar_payment_status` AS `calendar_payment_status`,`rd`.`calendar_payment_receipt` AS `calendar_payment_receipt`,`rd`.`calendar_payment_receipt_date` AS `calendar_payment_receipt_date`,`rd`.`calendar_approved_date` AS `calendar_approved_date`,`rd`.`calendar_rejection_reason` AS `calendar_rejection_reason`,`rd`.`field_id` AS `field_id`,`rd`.`field_name` AS `field_name`,`rd`.`field_type` AS `field_type`,`rd`.`field_hour_price` AS `field_hour_price`,`rd`.`user_id` AS `user_id`,`rd`.`user_name` AS `user_name`,`rd`.`user_last_name` AS `user_last_name`,`rd`.`user_email` AS `user_email`,`rd`.`user_phone` AS `user_phone`,`rd`.`approved_by_name` AS `approved_by_name`,`rd`.`company_id` AS `company_id`,`rd`.`company_name` AS `company_name`,`rd`.`company_location` AS `company_location`,`c`.`calendar_is_recurring` AS `calendar_is_recurring`,`c`.`calendar_recurring_type` AS `calendar_recurring_type`,`c`.`calendar_created_by_owner` AS `calendar_created_by_owner`,`c`.`calendar_is_presential` AS `calendar_is_presential`,`rr`.`recurring_id` AS `recurring_id`,`rr`.`is_active` AS `recurring_is_active`,`rr`.`notes` AS `recurring_notes`,`owner`.`user_name` AS `created_by_owner_name` from (((`reservationdetails` `rd` left join `calendars` `c` on((`rd`.`calendar_id` = `c`.`calendar_id`))) left join `recurring_reservations` `rr` on((`c`.`calendar_parent_id` = `rr`.`recurring_id`))) left join `users` `owner` on((`rr`.`created_by_owner_id` = `owner`.`user_id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-01 17:40:06
